
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

// @font-face {
//   font-family: 'mona-sansbold';
//   src: url('webfonts/mona-sans-bold.woff2') format('woff2'),
//        url('webfonts/mona-sans-bold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;

// }




// @font-face {
//   font-family: 'mona-sanslight';
//   src: url('webfonts/mona-sans-light.woff2') format('woff2'),
//        url('webfonts/mona-sans-light.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }




// @font-face {
//   font-family: 'mona-sansmedium';
//   src: url('webfonts/mona-sans-medium.woff2') format('woff2'),
//        url('webfonts/mona-sans-medium.woff') format('woff');
//   font-weight: medium;
//   font-style: normal;

// }




// @font-face {
//   font-family: 'mona-sansregular';
//   src: url('webfonts/mona-sans-regular.woff2') format('woff2'),
//        url('webfonts/mona-sans-regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }




// @font-face {
//   font-family: 'mona-sanssemibold';
//   src: url('webfonts/mona-sans-semibold.woff2') format('woff2'),
//        url('webfonts/mona-sans-semibold.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }

@font-face {
  font-family: 'mona-sansmedium';
  src: url('webfonts/mona-sans-medium.woff2') format('woff2'),
    url('webfonts/mona-sans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mona-sansregular';
  src: url('webfonts/mona-sans-regular.woff2') format('woff2'),
    url('webfonts/mona-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mona-sansbold';
  src: url('webfonts/mona-sans-bold.woff2') format('woff2'),
    url('webfonts/mona-sans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mona-sanslight';
  src: url('webfonts/mona-sans-light.woff2') format('woff2'),
    url('webfonts/mona-sans-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mona-sansmedium';
  src: url('webfonts/mona-sans-medium.woff2') format('woff2'),
    url('webfonts/mona-sans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mona-sanssemibold';
  src: url('webfonts/mona-sans-semibold.woff2') format('woff2'),
    url('webfonts/mona-sans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
