/* banner */
.slick-slider {
  overflow: hidden;
}

.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: hsla(262, 71%, 16%, 0.5);
  }

  .container {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);

    &>.banner-content {
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
      max-width: 880px;
      line-height: 120%;

      p {
        font-size: 16px;
        max-width: 75ch;
      }
    }
  }

  img {
    width: 100%;
  }

  .slick-track {
    padding-top: 50px;
  }

  .slick-slider {
    overflow: visible;
  }

  .slick-slide {
    visibility: hidden;
  }

  .slick-slide.slick-active {
    visibility: visible;
  }

  .slick-list {
    padding-inline: 1rem
  }

  .slick-dots {
    bottom: -60px !important;

    li button::before {
      font-size: 8px;
      color: #fff !important;
      opacity: 1 !important;
      transition: width .3s;
    }
  }
}

.slick-dots li.slick-active button::before {
  color: #C213F2 !important;

}


.banner-inside {
  position: absolute !important;
  top: 50%;
  left: 0;
  z-index: 100;
  width: 100%;
  transform: translateY(-50%);
}

.banner-content {
  color: #fff;

  h2 {
    margin-bottom: 1.5rem;
    font-size: $h1-font-size;
    color: #fff;

  }

  p {
    margin-bottom: 3.5rem;
    font-size: calc(1.1875rem / 1.125);
  }

}

.banner-inside .slick-dots {
  li {
    margin-inline: 2px;
    transition: width .3s;

    & * {
      transform-origin: center center;
    }
    &:first-child * {
      transform-origin: center left;
    }

    &:last-child * {
      transform-origin: center right;
    }
  }

  button {
    transition: width .3s;
  }

  .slick-active {
    width: 35px;
    transition: width .3s;

    button {
      width: 35px;
      transition: width .3s;
    }

    button::before {
      top: calc(50% - 4px);
      width: 35px;
      height: 7px;
      content: "";
      background: white;
      border-radius: 4px;
      transition: width .3s;
    }
  }
}


@media only screen and (max-width: 1200px) {
  .banner-content h2 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 1rem;
  }

}

// @media only screen and (max-width: 1024px){
//   .banner {
//     margin-top: -50px;
//   }
// }

@media only screen and (max-width: 992px) {
  .banner-inside {
    top: 50%;
  }
}


@media only screen and (max-width: 767px) {
  .banner {
    position: relative;
    z-index: 0;

    // top: -50px;
    // height: calc(100vh + 50px);
    height: 100vh;
    margin-top: 0;


    img {
      height: calc(100vh + 50px);
      object-fit: cover;
    }

    .banner-content {
      top: 40%;
      padding: 0.5rem;
      padding-right: 2rem;

      p {
        // display: none;
      }

      h2 {
        font-size: 1.5rem;
        color: #fff;
      }
    }
  }

}
